@use 'partials/variables' as *;
@import '~bootstrap/scss/bootstrap';
/* Header */
header {
    background-color: $darker;
    h1 {
        background-color: $green;
        display: inline;
        letter-spacing: 2px;
    }
}

/* Main */
main {
    background-color: $dark;

    .card {
        background-color: $green;
    }

    .card-body {
        background-color: $dark;

        div {
            color:$green
        }

        span {
            color:white;
        }
    }
}

/* Footer */
footer {
    background-color: $darker;

    small {
        color:$green;
    }
}
